@import "src/styles/variables";
@import '../variables';

.group,
.group .filterDetails,
.group .filterSummary {
  background-color: $colorList;
}

.filterDetails {
  flex-direction: column;
}

.description {
  display: flex;
  justify-content: center;
}

.dimension {
  color: $colorLightGray;
}

.filterDetails .button {
  text-transform: none;
}
