@import "src/styles/variables";

.group,
.group .details,
.group .summary {
  background-color: $colorDarkGray;
}

.details {
  flex-direction: column;
}
.description {
  display: flex;
  justify-content: center;
}
.dimension {
  color: $colorLightGray;
}
