@import 'styles/index';

.setupCard {
  height: 350px;
  background-color: $colorBackgroundGray;
  display: flex;
  color: rgb(235, 230, 230);
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 6px;
  position: relative;
  transition: all 0.3s;
  box-shadow: 0 0 8px 2px #00000021;

  .setupTopInfo {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  @media (max-width: 768px) {
    height: auto;
  }

  // Top SETUP
  &.bigCard {
    display: flex;
    position: relative;
    line-height: 1.5;
    width: 100%;
    margin: 0;

    .setupCardRatingBox {
      pointer-events: none;
    }

    .setupComments {
      position: absolute;
      display: flex;
      bottom: 13px;
      right: 10px;

      > div {
        margin-right: 5px;
      }
    }

    .cardContentHolder {
      margin: 10px 15px;
      height: calc(100% - 250px);
    }

    .setupTopInfo {
      display: flex;
      height: auto;
      flex-direction: column;
    }

    .setupImage {
      height: 250px;
    }

    .setupTitle {
      font-size: 24px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .setupBack {
      display: flex;
      flex-direction: column;
      height: calc(100% - 90px);
      margin-top: 5px;

      .textHolder {
        overflow: auto;
        text-overflow: ellipsis;
      }

      .backBottomWrapper {
        position: absolute;
        bottom: 5px;
      }

      & div {
        margin-bottom: 5px;
      }

      a {
        position: absolute;
        bottom: 20px;
        left: 35px;
        text-decoration: none;
      }

      .setupDescription {
        font-size: 16px;
        margin-bottom: 10px;
        font-size: 18px;
        margin-bottom: 20px;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }

  .setupImage {
    width: 100%;
    height: 175px;
    margin-bottom: 5px;
    flex-shrink: 0;

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
  }

  .setupTitle {
    font-size: 22px;
    line-height: 1.1;
    margin-bottom: 7px;
    margin-top: 3px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .createdAt {
    font-size: 14px;
    color: rgb(168, 166, 166);
  }

  .hardwareTitle {
    font-weight: bold;
    font-size: 16px;
  }

  &.withHover {
    .cardContentHolder {
      margin: 10px 15px;
      margin-top: 0;
      display: flex;
      flex-direction: column;
      height: 100%;

      .setupComments {
        display: flex;
        position: absolute;
        bottom: 13px;
        right: 10px;

        > div {
          margin-right: 5px;
        }
      }
    }

    .setupBack {
      opacity: 0;
      padding: 15px;
      transition: 0.3s;
      display: flex;
      flex-direction: column;
      border-radius: 6px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
      background-color: $colorBackgroundGray;

      a {
        margin-top: auto;
        text-decoration: none;
      }

      .textHolder {
        max-height: 250px;
        overflow: auto;
        text-overflow: ellipsis;

        div {
          margin-bottom: 5px;
        }

        .setupDescription {
          margin-bottom: 15px;
          font-size: 18px;

          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }

      .backBottomWrapper {
        margin-top: auto;
        display: flex;
        justify-content: space-between;

        .cardIcons {
          display: flex;
          > div {
            padding: 3px;
            padding-right: 0;
          }
          svg {
            color: $colorOrange;
          }

          svg:hover {
            color: #b92f0d;
          }

          div:nth-child(1) {
            svg {
              color: rgb(175, 170, 170);
            }

            svg:hover {
              color: white;
            }
          }
        }

        button {
          svg {
            color: white;

            &:hover {
              color: white;
            }
          }
        }
      }

      @media (max-width: $phone) {
        padding: 10px;
      }
    }
  }

  &.withHover:hover {
    cursor: pointer;

    .setupBack {
      opacity: 1;
    }
  }
}
