@import 'styles/index';

.setupCard {
  height: 350px;
  background-color: $colorBackgroundGray;
  display: flex;
  color: rgb(235, 230, 230);
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 6px;
  position: relative;
  transition: all 0.3s;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  .setupTopInfo {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  @media(max-width:768px) {
    height: auto;
  }

  // Top SETUP
  &.bigCard {
    display: flex;
    position: relative;
    line-height: 1.5;
    width: 100%;
    margin: 0;

    .cardContentHolder {
      margin: 10px 15px;
      height: calc(100% - 250px);
    }

    .setupTopInfo {
      display: flex;
      height: auto;
      flex-direction: column;
    }

    .setupImage {
      height: 250px;
    }

    .setupTitle {
      font-size: 24px;
    }

    .setupBack {
      display: flex;
      flex-direction: column;
      height: calc(100% - 90px);
      margin-top: 5px;

      .textHolder {
        overflow: auto;
        text-overflow: ellipsis;
      }

      .backBottomWrapper {
        margin-top: auto;
        margin-bottom: 7px;
      }

      & div {
        margin-bottom: 5px;
      }

      a {
        position: absolute;
        bottom: 20px;
        left: 35px;
        text-decoration: none;
      }

      .setupDescription {
        font-size: 16px;
        margin-bottom: 10px;
        font-size: 18px;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }

  .setupImage {
    width: 100%;
    height: 175px;
    margin-bottom: 5px;

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
  }

  .setupTitle {
    font-size: 22px;
  }

  .createdAt {
    font-size: 14px;
    color: rgb(168, 166, 166);
  }


  .hardwareTitle {
    font-weight: bold;
    font-size: 16px;
  }

  &.withHover {
    .cardContentHolder {
      margin: 10px 15px;
      margin-top: 0;
      display: flex;
      flex-direction: column;
      height: 100%;
    }


    .setupBack {
      opacity: 0;
      padding: 15px;
      transition: 0.3s;
      display: flex;
      flex-direction: column;
      border-radius: 6px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
      background-color: $colorBackgroundGray;

      a {
        margin-top: auto;
        text-decoration: none;
      }

      .setupDescription {
        font-size: 16px;
        margin-bottom: 10px;
        color: $linkColor;
        font-size: 18px;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .textHolder {
        max-height: 250px;
        overflow: auto;
        text-overflow: ellipsis;
      }

      .backBottomWrapper {
        margin-top: auto;
        display: flex;
        justify-content: space-between;

        svg {
          color: $colorOrange;
        }

        svg:hover {
          color: #b92f0d;
        }
      }

      @media (max-width: $phone) {
        padding: 10px;
      }
    }

    .setupCardRatingBox {
      margin-top: auto;
    }
  }

  &.withHover:hover {
    cursor: pointer;

    .setupBack {
      opacity: 1;
    }
  }
}
