@import 'styles/variables.scss';

.selectItem {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.selectItemHeader {
  color: $colorTextGray;
  margin: 10px 0 0 0;
  font-size: 10px;
  line-height: 18px;
  text-transform: uppercase;
}

.labelBaseSelect {
  color: $colorTextGray;
  margin-top: 10px;
  font-size: 10px;
  line-height: 18px;
  text-transform: uppercase;
}

.additionalFieldsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  .additionalFieldLeft {
    margin-right: 1em;
    width: 50%;
  }
  .additionalFieldRight {
    width: 50%;
  }
}

.inputItem {
  margin-top: 10px;
}

.buttonContainer {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.buttonWrapper {
  margin: 1em 2em;
}

@media (max-width: 960px) {
  .additionalFieldsContainer, .contentMain {
    flex-direction: column;

    .additionalFieldLeft {
      width: 100%;
    }
    .additionalFieldRight {
      width: 100%;
    }
  }
}
