@import '../../styles/variables';

.quickMatcher {
  max-width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  overflow: hidden;
  margin: 0 auto;
  border: 2px solid $colorDarkGray;
  border-radius: 4px;
  //margin-top: 30px;
}

.search {
  max-width: 100%;
  margin-bottom: 20px;
}

.tachometer {
  max-width: 25%;
  max-height: 25%;
}

.results {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 25px;
  text-align: center;
}

.text {
  margin-left: 25px;
}

.notFoundText {
  justify-content: center;
}
