@import '../../styles/variables';

.quickMatcher {
  max-width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
  overflow: 'hidden';
  margin: 0 auto;
  border: 2px solid $colorDarkGray;
  border-radius: 20px;
}

.search {
  max-width: 100%;
  margin-bottom: 20px;
}