@import 'styles/variables';

div.authContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 1300px;
  padding-top: 20px;
  padding-bottom: 20px;

  & > div > div {
    width: 100%;
  }
}

.bgContainer {
  position: fixed;
  z-index: -2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .15;
  background-image: url("https://wallpaperaccess.com/full/172758.jpg");
  background-position: left, bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.infoWrapper {
  margin: 0 auto;

  div {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
  }

  h1 {
    display: inline-block;
    margin: 0;
    font-size: 55px;
    line-height: 1;

    @media screen and (max-width: 1125px) {
      font-size: 45px;
    }

    @media screen and (max-width: 475px) {
      font-size: 35px;
    }

    @media screen and (max-width: 365px) {
      font-size: 30px;
    }
  }

  h2 {
    display: inline-block;
    margin-top: 0;
    font-size: 22px;
    font-weight: normal;

    @media screen and (max-width: 1125px) {
      font-size: 18px;
    }

    @media screen and (max-width: 475px) {
      font-size: 15px;
    }

    @media screen and (max-width: 365px) {
      font-size: 13px;
    }
  }
}

.loginWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
  padding: 35px 30px;
  border-radius: 20px;
  max-width: 410px;
  min-height: 686px;
  margin: 0 auto;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    opacity: .8;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: $componentBgColor;
  }

  @media screen and (max-width: 960px) {
    min-width: 365px;
    min-height: 586px;
  }

  form {
    margin-bottom: 180px;

    @media screen and (max-width: 960px) {
      margin-bottom: 80px;
    }

    .loginHeader {
      display: block;
      font-size: 40px;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 28px;
      cursor: default;
      text-align: center;

      @media screen and (max-width: 475px) {
        font-size: 35px;
      }
    }

    .errorAlert {
      margin-bottom: 30px;
    }

    .emailInput {
      width: 100%;
      margin-bottom: 24px;
    }

    .passwordBox {
      margin-bottom: 24px;
    }

    .confirmPasswordBox {
      margin-bottom: 32px;
    }

    .forgotPassword {
      display: block;
      margin-bottom: 30px;
      user-select: none;
      font-size: 1.1em;
    }

    .loginButtonBox,
    .registerButtonBox {
      display: flex;
      align-items: center;
    }
  }

  .loginButtonBox {
    justify-content: space-between;

    .keepSignedBox {
      user-select: none;
    }

    button {
      min-width: 130px;
    }
  }

  .registerButtonBox {
    justify-content: center;

    button {
      min-width: 200px;
    }
  }

  .loginButtonBox, .registerButtonBox, .googleBtnHolder {
    button {
      font-size: 1rem;

      &:hover {
        background-color: rgba(255, 255, 255, .15);
      }
    }
  }

  .registerBox {
    display: block;
    text-align: center;
    font-size: 1.2em;

    .registerLink {
      user-select: none;
    }
  }
}

.registrationWrapper {
  form {
    margin-bottom: 261px;

    @media screen and (max-width: 960px) {
      margin-bottom: 161px;
    }
  }


}


@media screen and (max-width: 430px) {

  .loginWrapper {
    padding: 30px;
    min-width: auto;

    form {
      margin-bottom: 60px;

      .forgotPassword {
        margin-bottom: 10px;
      }

      .loginButtonBox {
        flex-wrap: wrap;
        justify-content: center;

        .keepSignedBox {
          width: 100%;
          margin-bottom: 24px;
          margin-right: 0;

          .keepSigned {
            padding: 0 9px 0 0;
          }
        }

        button {
          min-width: 200px;
        }
      }
    }

    .registerBox {

      .registerLink {
        display: block;
      }
    }
  }

  .registrationWrapper {
    form {
      margin-bottom: 167px;
    }
  }
}


.googleBtnHolder {
  margin-top: 20px;
  text-align: center;
  .separator {
    margin-bottom: 20px;

    &::before,
    &::after {
      display: inline-block;
      content: "";
      border-top: 1px solid rgb(248, 246, 246);
      width: 10%;
      margin: 5px;
    }
  }

  button {
    min-width: 200px;

    span {
      text-transform: initial;
      color: rgb(221, 219, 219);
    }
  }

  img {
    width: 18px;
    margin-right: 10px;
  }
}
