$notification-success: #7ba040;
$notification-error:#c24b2e;
$notification-warning: rgb(204, 123, 30);
$notification-info: #1d5781;

.notification {
  position: relative;
  margin-top: 20px;

  &>div {
    min-width: 250px;
    font-size: 16px;

  }
}

.infoNotification>div {
  background-color: $notification-info;
}

.errorNotification>div {
  background-color: $notification-error;
}

.warningNotification>div {
  background-color: $notification-warning;
}

.successNotification>div {
  background-color: $notification-success;
}

.notification+div {
  margin-top: 20px !important;
}
