$input-warning: rgb(214, 142, 59);
$input-error: #cb5134;
$bg-color-text: rgb(199, 195, 195);
$bg-color-input: #575858;

.input {
  &>div {
    background-color: $bg-color-input;
    border-radius: 20px;

    &::before,
    &::after {
      border: none !important;
    }
  }

  & svg {
    margin-left: 10px !important;
  }

  &>div path {
    color: $bg-color-text;
  }

  &>p {
    font-size: 14px !important;
    margin-top: 0;
    margin-left: 15px;
  }

  &>div>fieldset {
    border-radius: 40px;
    border-color: rgba(0, 0, 0, 0.23) !important;
  }

  &>div>input {
    padding: 8px 10px;
    color: $bg-color-text;
    filter: none;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-internal-autofill-selected,
    &:-internal-autofill-selected:hover,
    &:-internal-autofill-selected:focus {
      font-family: Lato, Arial, sans-serif;
      -webkit-text-fill-color: $bg-color-text;
      background-image: none;
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  &.inputWarning {
    &>div path {
      color: $input-warning;
    }

    p {
      color: $input-warning;
    }

    &>div {
      border: 2px solid $input-warning;
    }

    &>div>input {
      color: $input-warning;

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-internal-autofill-selected,
      &:-internal-autofill-selected:hover,
      &:-internal-autofill-selected:focus {
        -webkit-text-fill-color: $input-warning;
      }
    }
  }

  &.inputError {
    &>div path {
      color: $input-error;
    }

    p {
      color: $input-error;
    }

    &>div {
      border: 2px solid $input-error;
    }

    &>svg {
      color: $input-error;
    }

    &>div>input {
      color: $input-error;

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-internal-autofill-selected,
      &:-internal-autofill-selected:hover,
      &:-internal-autofill-selected:focus {
        -webkit-text-fill-color: $input-error;
      }
    }
  }
}
