@import 'styles/index';

$input-error: #cb5134;

.userPageContainer {
  width: 90vw;
  height: 80vh;
  display: flex;
  margin: 50px auto;
  margin-bottom: 30px;

  @media (max-width: 768px) {
    width: 90%;
    display: block;
    align-items: center;
    margin-top: 20px;
    height: auto;
  }
}

.preferencesSection {
  width: 100%;
  height: 100%;
  background-color: $colorBlack;
  overflow: hidden;
  border-radius: 10px;
  margin-right: 20px;

  @media (max-width: 768px) {
    width: 100%;
    margin-top: 0px;
    overflow: none;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
}

.userInfo {
  display: flex;
  width: 420px;
  margin-right: 20px;
  margin-left: 20px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $colorDarkGray;
  padding: 10px;
  border-radius: 10px;
  overflow: auto;

  @media (max-width: 768px) {
    overflow: hidden;
    width: 100%;
    height: auto;
    margin: 0;
    align-items: flex-start;
    padding-bottom: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  @media (min-width: 550px)and (max-width: 768px) {
    width: 100%;
    padding: 20px;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
  }

  @media (max-width: 549px) {
    min-height: 350px;
    align-items: center;
    position: relative;
  }


  .userImage {
    margin-top: 20px;
    margin-bottom: 15px;
    width: 80%;

    .imageLink {
      display: block;
      margin-bottom: 10px;
    }

    .imageLinksHolder {
      display: flex;
      justify-content: space-evenly;
    }

    @media (min-width: 550px) and (max-width: 768px) {
      margin: 10px auto;
      width: 155px;
      align-self: flex-start;
    }

    @media (max-width: 549px) {
      width: 90%;
      align-self: center;
    }

    img {
      width: 90%;
      border-radius: 20px;
      object-fit: cover;
      box-shadow: 0px 0px 5px 7px rgba(0, 0, 0, 0.1);

      @media (max-width: 549px) {
        border-radius: 50%;
        width: 40%;
      }
    }
  }

  .userData {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 90%;
    position: relative;
    padding-bottom: 60px;

    &>div {
      margin-bottom: 15px;
    }

    .buttonsContainer {
      position: absolute;
      bottom: 0;
      margin-top: auto;
      margin-bottom: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      & button {
        flex: 1;
      }

      & button:nth-child(2) {
        flex: 1;
        margin-left: 10px;
      }

      @media (max-width: 768px) {
        position: static;
        margin-top: 20px;
      }
    }

    & p {
      font-size: 24px;
    }

    @media (max-width: 768px) {
      width: 50%;
      margin: 10px;
      padding-bottom: 0;
    }

    @media (max-width: 549px) {
      width: 100%;
      margin: 10px;
      padding-bottom: 0;
    }
  }
}

.passwordInputHolder {
  &>div {
    margin-bottom: 0;
  }

  &>div>div>div {
    background-color: rgb(51, 50, 50) !important;
  }

  &>div>svg {
    top: 18px;
  }

  &.holderError>div svg {
    color: $input-error;
    top: 20px;
  }
}

.autoFocused>div {
  background-color: rgb(51, 50, 50) !important;
}

// Tab component
.tabsBar {
  background-color: rgb(19, 18, 18) !important;

  &>div>div>div>div>span {
    color: #EB3D55;
  }

  &>div>div>div {
    justify-content: space-evenly;

    button {
      flex: 1;
      max-width: none;
    }
  }
}

