@import 'styles/variables.scss';

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid $colorDarkGray;
  box-shadow: 1px 1px 2px 1px $colorBackgroundGray;
  border-radius: 12px;
  background-color: $colorBackgroundGray;
  padding: 15px 20px;
  //min-width: 300px;
  min-width: 80%;

  .cardTitle {
    line-height: 0;
    text-transform: uppercase;
  }
  .boxBadget .buttonAdd {
    position: absolute;
    margin-top: 35px;
    margin-left: -30px;
    zoom: 85%;
  }
  .boxWithoutBadget .buttonAdd {
    position: absolute;
    zoom: 85%;
  }

}
