.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-bottom: 30px;
}

@media (max-width: 1440px) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .cardsContainer {
    grid-template-columns: 1fr;
  }
}

.contentBody {
  margin: 20px 60px;
}

.mainContent {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;

  .leftContent {
    width: 75%;
  }
  .rightContent {
    margin-left: 40px;
    width: 25%;
  }
}

.spinnerWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1400px) {
  .mainContent {
    display: flex;
    flex-direction: column;
    .leftContent {
      width: 100%;
    }
    .rightContent {
      margin-left: 0;
      width: 100%;
    }
  }
}
