@import '../../styles/variables.scss';

.userProfileWrapper {
  display: inline-block;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 4px solid $colorBlue;
  object-fit: cover;
  overflow: hidden;
  margin-right: 10px;
}

.image {
  width: 100%;
  height: 100%;
}