.chartHeader {
  margin: 2em 0 0.5em;
}

.chartWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.chartContainerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1200px) {
  .chartWrapper {
    flex-direction: column;
  }
}

