@import '../../styles/variables.scss';

.setupPageRoot {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;

  .contentWrapper {
    margin: 0;
    display: flex;

    .setupsDetails {
      min-width: 75%;
      position: relative;
      border-radius: 7px;
      padding: 2rem;
      background: $colorBlack;
      min-width: 75%;
      margin-bottom: 40px;
    }

    .asideItems {
      margin-left: 3rem;
    }
  }
}

.commentsRoot {
  margin-top: 2rem;
}

@media (max-width: 1200px) {
  .contentWrapper {
    flex-direction: column;
  }

  .setupsDetails.setupsDetails.setupsDetails {
    margin-right: 0;
  }

  .asideItems.asideItems.asideItems {
    margin-top: 2rem;
    margin-left: 0;
  }
}
