@import '../../styles/variables.scss';

.setupPageRoot {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.contentWrapper {
  display: flex;
}

.setupsDetails {
  position: relative;
  border-radius: 7px;
  padding: 2rem;
  margin-right: 6rem;
  background: $colorBlack;
}

.underline {
  position: absolute;
  width: 100%;
  height: 2px;
  background: $colorGray;
  margin-top: 3rem;
  left: 0;
}

.noMarginTop {
  margin-top: -1rem;
}

.asideItems {
  margin-left: 3rem;
}

@media (max-width: 1200px) {
  .contentWrapper {
    flex-direction: column;
  }

  .asideItems {
    margin-top: 2rem;
    margin-left: 0;
  }
}