@import 'styles/variables.scss';

.contentPage {
  //margin: 1em 2rem;
  width: 100%;
}
.pageHeader {
  margin: 1em 0;
}
.contentMain {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .totalBlockContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    li {
      display: block;
      padding: 0;
    }
  }

  .notificationsContainer {
    margin-top: 4em;
    width: 100%;
  }
}

.setupButton {
  width: 24px;
}

@media (max-width: 960px) {
  .contentMain .totalBlockContainer {
    display: block;
    grid-template-columns: repeat(2, 1fr);
  }
  .totalBlockContainer {
    li {
      display: flex;
      justify-content: center;
      margin: 2em 0;
    }
  }
}