@import '../../styles/variables.scss';

.topFiveList {
  display: flex;
  flex-direction: column;
  background-color: $colorDarkGray;
  border-radius: 10px;
  padding: 10px 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-top: 10px;
  margin-left: 20px;
}

.itemWrapper {
  margin-bottom: -2px;
  transition: all 0.3s ease;
}
.itemWrapper:not(:last-child) {
  .item {
    border-bottom: 2px solid $colorLightGray;
  }
}
.itemWrapper:hover {
  background-color: $colorDarkBlue;
  .item {
    border-color: $colorDarkBlue;
  }
  .itemTextTitle {
    color: #ffffff;
  }
}

.item {
  color: #ffffff;
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  transition: all 0.3s ease;
  margin: 22px 20px 0 20px;
  overflow: hidden;
  padding-bottom: 20px;
}

.itemImage {
  border-radius: 10px;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.itemText {
  margin-left: 15px;
  margin-top: 0px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.4em;
  max-height: 4.4em;
}

.itemTextTitle {
  margin-top: 20px;
  font-size: 14px;
  margin: 0;
  color: $colorTextOrange;
  text-transform: uppercase;
  font-family: Lato;
  font-weight: bold;
  transition: all 0.3s ease;
}

.itemTextDescription {
  margin: 0;
  margin-top: 5px;
}

.itemTextDate {
  margin-top: 5px;
  margin-bottom: 0;
  font-style: italic;
  font-weight: bold;
}

@media (max-width: 1440px) {
  .item {
    flex-direction: row;
  }
  .itemImage {
    border-radius: 10px;
    width: 70px;
    height: 70px;
    object-fit: cover;
  }

  .itemText {
    margin-top: 0;
    margin-left: 15px;
  }
}
