@import '../../../styles/variables.scss';

.card {
  display: flex;
  padding: 16px 16px 16px;
  background: #3C444D;
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  border: 1px solid $colorBlue;
  margin-bottom: 4rem;
}

.contentHeader {
  color: $colorOrange;
}

.cardContentWrapper {
  display: flex;
  flex-direction: column;
}

.cardContent {
  display: flex;
  flex-grow: 1;
  padding: 16px 16px 0 16px;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.ratingBoxWrapper {
  align-self: flex-end;
}

.cardText {
  // width: 500px;
  color: $colorTextWhite;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

@media (min-width: 1200px) {
  .setupImage {
    width: 400px;
  }
}

@media (max-width: 1200px) {
  .card {
    flex-direction: column;
  }

  .setupImage {
    flex-grow: 1;
    margin: 0 0 1rem;
  }

  .contentHeader.contentHeader {
    padding-top: 0;
    padding-left: 0;
  }

  .card {
    padding: 2rem;
  }

  .cardContent {
    padding-left: 0;
  }

  .imageWrapper {
    display: flex;
    width: 100%;
  }
}