@import '../../../styles/variables.scss';

.card {
  display: flex;
  flex-direction: column;
  background: #3C444D;
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  border: 1px solid $colorBlue;
  margin-bottom: 4rem;
}


// after adding ratings


.cardSetupIntro {
 display: flex;
 flex-direction: row;
 padding:20px;
}

.cardSetupExtra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 7px;
  @media(max-width: 768px) {
    flex-direction: column;
    align-items: baseline;
  }
  
  button {
    margin-right: 20px;
  }
}

.imageWrapper {
  figure {
    margin: 10px;
    margin-right: 20px;
  }
}
.contentHeader {
  color: $colorOrange;
  padding:0 !important;
}

.cardContentWrapper {
  display: flex;
  flex-direction: column;
}

.cardContent {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.ratingBoxWrapper {
  margin-left: 30px;
}

.cardText {
  // width: 500px;
  color: $colorTextWhite;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

@media (min-width: 1200px) {
  .setupImage {
    width: 400px;
  }
}

@media (max-width: 1200px) {
  .card {
    flex-direction: column;
  }

  .setupImage {
    flex-grow: 1;
    margin: 0 0 1rem;
  }

  .contentHeader.contentHeader {
    padding-top: 0;
    padding-left: 0;
  }


  .card {
    padding: 2rem;
  }

  .cardContent {
    padding-left: 0;
  }

  .imageWrapper {
    display: flex;
    width: 100%;
  }
}
