@import '../../../styles/variables';

.wrapper {
  //display: flex;
  align-items: center;
}

.btnGroup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

div.groupItemSummary {
  min-height: 100px;
  padding: 8px 20px;
  background-color: $colorDarkGray;
}

.groupItemSummary > div {
  //display: flex;
  align-items: center;
}

.imageWrapper {
  padding: 0 !important;
}

.groupItemSummaryImg {
  width: 100%;
}

.groupItemSummaryTitle {
  //margin: 0 20px;
  text-transform: uppercase;
}

.SummaryContent {
  width: 90%;
}

.groupItemSummaryCount {
  margin-left: 10px;
  color: $colorRed;
  //margin-right: 10px;
}

.groupItemSummary .nameComponentWrap {
  //display: flex;
  align-items: center;
}

.groupItemSummary .nameComponent {
  //margin-left: auto;
  //margin-right: 10px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.popup {
  background-color: $colorBlack;
}
