@import '../../../styles/variables';

.wrapper {
  //display: flex;
  align-items: center;

  > .titleCount {
    position: relative;
    z-index: 10;
    padding-left: 50px !important;

    &:before {
      content: '';
      display: block;
      width: 120px;
      height: 300px;
      background: #3c444d;
      position: absolute;
      left: 29px;
      top: -107px;
      z-index: -1;
      transform: rotate(31deg);
      border-radius: 0 0 0 15px;

      @media screen and (max-width: 960px) {
        height: 320px;
      }
    }
  }

  .componentFull {
    p {
      color: #8d8f96;
      font-size: 16px;
      font-weight: 800;
    }

    @media screen and (max-width: 960px) {
      z-index: 10;
      position: relative;
    }
  }
}

.btnGroup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

div.groupItemSummary {
  min-height: 100px;
  padding: 8px 20px;
  background-color: $colorDarkGray;
  border-radius: 10px;
  overflow: hidden;
}

.groupItemSummary > div {
  //display: flex;
  align-items: center;
}

.imageWrapper {
  padding: 0 !important;
  max-width: 200px !important;

  > img {
    background: #2e3239;
    box-shadow: 0 0 0 90px #2e3239;
  }
}

.groupItemSummaryImg {
  width: 100%;
}

.groupItemSummaryTitle {
  //margin: 0 20px;
  text-transform: uppercase;
}

.SummaryContent {
  width: 90%;
}

.groupItemSummaryCount {
  margin-left: 10px;
  color: $colorRed;
  //margin-right: 10px;
}

.groupItemSummary .nameComponentWrap {
  //display: flex;
  align-items: center;
}

.groupItemSummary .nameComponent {
  //margin-left: auto;
  //margin-right: 10px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.popup {
  background-color: $colorBlack;
}
