@import '../../styles/variables.scss';

.hardwaresRoot {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin: 1rem 0;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.hardwaresMetaForm {
  display: flex;
}

.hardwareFormItem {
  width: 320px;
}

.searchInput.searchInput {
  margin-left: 2rem;
}

.asideContent {
  background: $colorDarkGray;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  min-width: 500px;
  overflow: auto;
  border-radius: 10px;
  max-height: 100%;
}

.hardwareBar {
  padding: 20px 20px 0;
}

.contentWrapper {
  display: flex;
  margin-top: 2rem;
  height: 100%;
}

.hardwaresList {
  width: 100%;
  box-sizing: border-box;
}

.listHardwareHeader {
  font-size: 16px;
  margin: 0;
  font-weight: bold;
}

.hardwareContainer {
  height: 100%;
  margin-right: 20px;
  margin-top: 5px;
  background: $colorDarkGray;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  cursor: pointer;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.4s;
}

.activeContainer {
  background: $colorGray;
}

.hardwareContainer:hover {
  background: darken($colorGray, 5);
}

.paginatorContainer {
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}

.hardwareHeader {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.divider {
  width: 100%;
  height: 2px;
  background: $colorLightGray;
}
