@import '../../../styles//variables.scss';

.pageHeader {
  margin: 0;
}

.performanceResultWrapper {
  display: flex;
  justify-content: space-between;
}

.requirements {
  flex-grow: 6;
  display: flex;
  justify-content: space-between;
}

.requirement {
  height: 60%;
  margin-top: 3rem;
  margin-right: 6rem;
}

.requirementHeader {
  font-family: Lato;
  margin: 10px 0 0 0;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: $colorTextWhite;
}

.requirementDetail {
  margin: 5px 0 0 0;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #cbcfd4;
}

.summary {
  width: 30%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 1rem 2rem 2rem 2rem;
  border: 1px solid $colorBlue;
}

.summarySection {
  margin-top: 1rem;
}

.summaryHeader {
  font-family: Lato;
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: $colorTextWhite;
}

.summaryItemHeader {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
  color: $colorTextWhite;
  font-weight: bold;
}

.summaryItemHeader::after {
  content: ': '
}

.summaryItemBody {
  font-family: Lato;
  font-size: 16px;
  line-height: 22px;
  color: #CBCFD4;
}
