@import 'styles/index';

$bgGameCard:rgb(19, 18, 18);

.gameCard {
  min-height: 180px;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $bgGameCard;
  color: $colorTextGray;
  margin: 15px;
  border-radius: 5px;
  position: relative;

  img {
    object-fit: contain;
    width: 100%;
    border-radius: 5px;
  }

  p {
    margin: 0;
  }

  &:hover>.gameDescription {
    display: block;
    border-radius: 5px;
    background: rgba($color: #222121, $alpha: 0.9);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 15px;
    font-size: 16px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    color: rgb(228, 225, 225);
   
    div {
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;  
      overflow: hidden;
    }
  }

  .gameDescription {
    display: none;
  }

  .gameFooter {
    display: flex;
    font-size: 16px;
    color: $colorTextGray;
    align-items: center;
    padding: 5px 10px;
    flex-wrap: wrap;
    width: 100%;
    height:100%;


    .gameTitle {
      font-size: 16px;
      margin-right: 10px;
    }
  }
}
