.rootComponent {
  padding-left: 81px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .topBarWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3rem;
    margin-bottom: 1.5rem;
    height: 132px;

    .titleWrapper {
      h2 {
        font-size: 48px;
        margin: 0;
      }

      span {
        font-size: 18px;
        // color: #c0c5cb;
        color: #7f8489;
      }
    }
  }

  .contentWrapper {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0 3rem;

    @media (max-width: 600px) {
      padding: 0 1rem;
    }
  }
  .contentBody {
    margin: 40px 60px;
  }

  .mainContent {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;

    .leftContent {
      width: 75%;
    }
    .rightContent {
      margin-left: 40px;
      width: 25%;
    }
  }
}

.spinnerWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1400px) {
  .mainContent {
    display: flex;
    flex-direction: column;
    .leftContent {
      width: 100%;
    }
    .rightContent {
      margin-left: 0;
      width: 100%;
    }
  }
}
