@import "styles/variables";

.bgContainer {
  position: fixed;
  z-index: -2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .15;
  background-image: url("https://wallpaperaccess.com/full/172758.jpg");
  background-position: left, bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

div.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 35px 30px;
  max-width: 410px;
  min-height: 476px;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    opacity: .8;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: $componentBgColor;
  }

  .header {

    h2 {
      margin: 0 0 30px;
      text-align: center;
      font-size: 40px;
      line-height: 1;
    }

    p {
      font-size: 1rem;
      font-style: italic;
      line-height: 1;
      margin: 0;
    }
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 18px 0 160px;

    .alert {
      margin-bottom: 18px;
      width: 100%;
    }

    .emailInput {
      width: 100%;
      margin-bottom: 28px;
    }

    button {
      width: 200px;
    }
  }

  .loginWrapper {
    text-align: center;

    .login {
      font-size: 1.2rem;
    }
  }
}
