@import 'styles/index';
$link-default-color: rgb(223, 217, 217);
$link-default-hover-color: rgb(246, 243, 243);
$user-page-bg: #30363d;;

.userPreferences {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  max-height: calc(100% - 123px);
  justify-content: flex-start;
  overflow: auto;
  padding: 15px;
  border-top: 1px solid rgb(102, 102, 102);
  background-color: $user-page-bg;


  & > a {
    text-decoration: none;
  }
  
  &> div, & > a{
    width:25%;
    min-width: 275px;
    margin:10px;
  }

  @media(min-width: $tablet) {
    &>div {
      width: 25%;
    }
  }

  @media (max-width: 768px) {
    overflow: auto;
    justify-content: center;

    >div {
      width: 100%;
    }
  }

  &>div:hover {
    cursor: pointer;
    box-shadow: 1px 1px 4px 5px rgba($color: $linkColor, $alpha: 0.2);
  }
}

.addGameButton {
  margin: 20px 25px 20px !important;
}

.setupLink {
  margin: 20px 25px 20px !important;
  display: inline-block;
  text-decoration: none;
  color: $link-default-color;

  &:hover {
    color: $link-default-hover-color;
  }
}

.buttonPlacement {
  background-color: $user-page-bg;
  height:75px;
  label {
    display: none;
  }

  &>div>div {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  @media(max-width: 768px) {
    display: flex;
    justify-content: center;
  }
}
