@import '../../styles//variables.scss';

.gameMatcherRoot {
  background: $colorBlack;
  display: flex;
  padding: 2rem;
}

.gameMatcherContentWrapper {
  display: flex;
}

.asideItems {
  margin-left: 6rem;
}


@media (max-width: 1200px) {
  .gameMatcherContentWrapper {
    flex-direction: column;
  }

  .asideItems {
    margin-top: 2rem;
    margin-left: 0;
  }
}