@import '../../styles/variables.scss';

.gameMatcher {
  display: flex;
  flex-direction: column;
  margin: 0 8rem;
  width: 100%;
}

.pageHeader {
  color: $colorTextWhite;
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
  margin: 0;
}

.contentWrapper {
  display: flex;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $colorDarkGray;
  flex-grow: 1;
  border-radius: 7px;
  box-shadow: 40px 40px 20px 30px rgba(0, 0, 0, 0.1);
  padding: 3rem 0 4rem;
  margin-right: 3rem;
}

.configs {
  width: 50%;
}

.selectItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  width: 100%;
}

.sectionHeader {
  font-size: 24px;
  line-height: 28px;
  color: $colorTextWhite;
  margin: 10px 0;
}

.selectItemHeader.selectItemHeader {
  color: $colorTextGray;
  margin: 10px 0 0 0;
  font-size: 10px;
  line-height: 18px;
  text-transform: uppercase;
}

.pageButton {
  width: 50%;
}

.pageButtonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttonLabel {
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;

  color: $colorTextWhite;
}

.asideBlock {
  display: flex;
  flex-direction: column;
}
.buttonWrapper{
  margin: 2em 0;
  align-self: center;
}
.addRequestBlock {
  //width: fit-content;
  text-align: justify;
  margin: 1em 0;
  margin-right: 3rem;
  color: $colorLightGray;

  .linkRequest {
    color: $colorDarkGray;
    font-family: Lato, sans-serif;
    font-weight: 400;
  }
}


@media (max-width: 960px) {
  .mainContainer {
    margin-bottom: 40px;
    margin-right: 0;
  }

  .contentWrapper {
    flex-direction: column;
  }
  .configs {
    width: 80%;
  }
}
