.formControl {
  min-width: 200px !important;
  width: 100% !important;
  border: none;

  & div {
    background-color: white;
  }

  legend {
    display: none;
  }

  fieldset {
    border: none;
  }

  & div select {
    //padding: 10px;
    padding: 0.3rem 1rem 0.5rem;
    filter: none;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-internal-autofill-selected,
    &:-internal-autofill-selected:hover,
    &:-internal-autofill-selected:focus {
      font-family: Lato, Arial, sans-serif;
      -webkit-text-fill-color: white;
      background-image: none;
      transition: background-color 5000s ease-in-out 0s;
    }
  }
}

.inputLabel {
  display: block;
  margin: 8px 0;
  color: white;
}
