@import '../../styles/variables';

$viewBox: 100;

.tachometer {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $colorDarkGray;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.9);
}

.tachometerSvg {
  width: 100%;
  height: 100%;
}

.tachometerBar {
  stroke-dasharray: 45, 1, 45, 1, 45, 1, 45, 1, 45, 46;
  transform: rotate(121deg);
  transform-origin: 50% 50%;
}

.redArc {
  fill: none;
  stroke: $colorRed;
  stroke-width: 5;
}

.orangeArc {
  fill: none;
  stroke: $colorOrange;
  stroke-width: 5;
}

.yellowArc {
  fill: none;
  stroke: $colorYellow;
  stroke-width: 5;
}

.greenArc {
  fill: none;
  stroke: $colorGreen;
  stroke-width: 5;
}

.orangeArc {
  fill: none;
  stroke: $colorOrange;
  stroke-width: 5;
}

.tachometerBorder {
  fill: none;
  stroke: $colorLightGray;
  stroke-width: 1;
}

.tachometerProgress {
  fill: none;
  stroke: $colorRed;
  stroke-width: 7;
  stroke-dasharray: 200;
  transform: rotate(144deg);
  transform-origin: 50% 50%;
}

.tachometerTextWrap {
  position: relative;
}

.tachometerText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: $colorBlue;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 0 6px lighten($colorBlue, 10%);
}
