@import 'styles/variables.scss';

.requestItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  width: 100%;
  color: $colorTextGray;

  .requestTitle {
    font-weight: bolder;
    max-width: 7em;
    width: 7em;
  }
  .requestInfo {
    max-width: 20em;
    width: 20em;
    max-height: 4em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .requestExtraInfoContainer{
    max-width: 7em;
    width: 7em;
  }
  .requestExtraInfoItem {
    text-align: center;
  }

  .requestExtraInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $colorTextGray;
  }

  .buttonRequest {
    align-self: flex-end;
    margin: 0 0.3em;
    padding: 0 1.5em;
  }
}
@media (max-width: 1090px) {
  .buttonContainer {
    display: flex;
    flex-direction: column;
    color: $colorTextGray;

    .buttonRequest {
      margin: 0.3em 0;
      width: 100%;
    }
  }
  }

@media (max-width: 960px) {
  .buttonContainer {
    display: flex;
    flex-direction: column;

    .buttonRequest {
      margin: 0.3em 0;
      width: 100%;
    }
  }
}

