@import 'styles/variables.scss';

.builderWrapper {
  width: 100%;
  padding-bottom: 2rem;
}

.summary {
  height: fit-content;
  position: sticky;
  top: 20px;
}

.buttonWrapper{
  margin: 2em 0;
  text-align: center;
}

.addRequestBlock {
  max-width: fit-content;
  text-align: justify;
  margin: 1em 0;

  .linkRequest {
    color: $colorDarkGray;
    font-family: Lato, sans-serif;
    font-weight: 400;
  }
}