@import '../../../styles/variables';
@import '../variables';

.group,
.group .details,
.group .summary {
  //background-color: $colorDarkGray;
  background-color: $colorAccordion;
}

.details {
  display: flex;
  flex-direction: column;
}

.details .button {
  text-transform: none;
}

.search {
  margin: 5px 0 20px;
}
