@import '../../../styles/variables';

.group,
.group .details,
.group .summary {
  background-color: $colorDarkGray;
}

.details {
  display: flex;
  flex-direction: column;
}

.details .button {
  text-transform: none;
}

.search {
  margin: 5px 0 15px;
}
