@import 'styles/variables.scss';

.requestItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: uppercase;
  padding: 1em;
  width: 100%;
}

.requestTitle {
  font-weight: bolder;
  text-transform: uppercase;
  margin: 2em 0 1em;
}
.requestMetaData {
  margin: -0.5em 0;
  font-style: italic;
  color: $colorTextGray;
}

.requestBody {
  text-align: justify;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0;
}

.buttonOk {
  padding: 0 1.5em;
}
.buttonDisabled {
  opacity: 0.2;
}

.selectItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1em;

  .selectItemHeader {
    color: $colorTextGray;
    margin: 10px 0 0 0;
    font-size: 10px;
    line-height: 18px;
    text-transform: uppercase;
  }
}

.inputItem {
  margin-top: 10px 0;
  color: $colorTextGray;
  margin-bottom: 1em;
}
