@import '../../styles/variables';

.newsWrapper h1,
.newsWrapper h2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.newsCard {
  max-width: 400px;
  margin: 2rem;

  img {
    width: 100%;
    height: 46%;
    object-fit: cover;
  }
}

.newsCard .title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.75rem;
}

.newsCard .content {
  padding: 2rem;
}

.newsCard .date {
  font-size: 1rem;
  font-style: italic;
  color: $colorTextGray;
}

.newsCard .btnRead {
  width: 100%;
}
