@import '../../styles/variables';

.newsWrapper h1,
.newsWrapper h2 {
  margin: 0 2rem;
}

.newsWrapper h1 {
}

.newsWrapper h2 {
}

.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.newsCard {
  max-width: 400px;
  margin: 2rem;
  img {
    width: 100%;
  }
}

.newsCard .title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.75rem;
}

.newsCard .content {
  padding: 2rem;
}

.newsCard .date {
  font-size: 1rem;
  font-style: italic;
  color: $colorTextGray;
}

.newsCard .btnRead {
  width: 100%;
}
