@import '../../../styles//variables.scss';

.requirementVariants {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  margin-top: -1rem;
}

.requirementVariant {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4rem;
  font-size: 14px;
  line-height: 22px;
  margin-top: 1rem;
}

.requirementText {
  font-size: 14px;
  line-height: 22px;
  color: $colorTextGray;
}

$border-width: 1px;
$space-width: 30px;

.performanceGraphItem {
  display: flex;
  align-items: center;
  position: relative;
  border-top-color: $colorGray;
  border-top-style: solid;
  border-bottom-color: $colorGray;
  border-bottom-style: solid;
  height: 4rem;
}

.performanceGraphItem:nth-of-type(2) {
  border-top-width: $border-width;
  border-bottom: $border-width / 2;
}

.performanceGraphItem:nth-of-type(3) {
  border-top-width: $border-width / 2;
  border-bottom: $border-width / 2;
}

.performanceGraphItem:nth-of-type(4) {
  border-top-width: $border-width / 2;
  border-bottom-width: $border-width;
}

.performanceGraphCentralLine {
  position: absolute;
  width: 100%;
  border-top: $border-width solid $colorGray;
}

.performanceIndicator {
  position: absolute;
  left: -3px;
  width: 60%;
  height: 40%;
  background: $colorRed;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.performanceIndicatorHeader {
  position: absolute;
  left: -$space-width - 5;
  text-align: center;
  font-family: Montserrat;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;

  color: #747D88;
}

.indicatorValues {
  display: flex;
  justify-content: space-between;
  margin-left: $space-width - 10px;
  margin-right: $space-width - 10px;
  margin-top: 1rem;
}

.indicatorValue {
  width: 25px;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #747D88;
  margin-right: 4px;
}

.usedComponents {
  margin-top: 2rem;
}

.usedComponentHeader {
  text-align: left;
  padding-right: 1rem;
  padding-bottom: .5rem;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: $colorTextWhite;
}

.usedComponentsBody {
  font-size: 16px;
  padding-right: 1rem;
  padding-bottom: .5rem;
  line-height: 22px;
  color: $colorTextGray;
}

.normalLine {
  border-left: 1px solid $colorRed;
  position: absolute;
  margin-top: -30px;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.normalLineText {
  text-transform: uppercase;
  padding-top: 5px;
  color: $colorTextGray;
  position: relative;
  margin-left: 5px;
  font-size: 10px;
  line-height: 12px;
}

.graphWrapper {
  margin-left: 10px;
  position: relative;
}

.indicatorsWrapper {
  margin-left: $space-width;
  padding-right: $space-width - 5px;
}

.performanceReportHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 25px;
}

.performanceReportHeaderHeader {
  align-self: flex-start;
  margin-top: 0px;
  text-align: start;
  vertical-align: top;
  margin-bottom: 10px;
}

.gameHeader {
  border-radius: 6px;
  padding: 1rem 1rem 1rem 1rem;
  border: 1px solid $colorBlue;
  width: 29.8%;
}

.gameHeaderHeader {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
  color: $colorTextWhite;
  font-weight: bold;
}

.gameHeaderHeader::after {
  content: ': '
}

.gameHeaderBody {
  font-size: 16px;
  line-height: 22px;
  color: #CBCFD4;
}