@import '../../styles/variables';

.group,
.group .details,
.group .summary {
  background-color: $colorDarkGray;
}

.details {
  display: flex;
  flex-direction: column;
}

.details .hr {
  width: 100%;
  border-color: $colorGray;
}

.details .button {
  text-transform: none;
}

.details .search {
  max-width: inherit;
  margin-top: 5px;
  margin-bottom: 20px;
}
