@import '../../styles/variables';
@import './variables';

.group,
.group .details,
.group .summary {
  background-color: $colorDarkGray;
}

.details,
.filterDetails {
  display: flex;
  flex-direction: column;
}

.details .hr,
.filterDetails .hr {
  width: 100%;
  border-color: $colorGray;
}

.details .button,
.filterDetails .button {
  text-transform: none;
}

.group,
.group .filterDetails,
.group .filterSummary {
  background-color: $colorList;
}
