.rootComponent {
  padding-left: 81px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__body {
    margin: 40px 60px;
  }

  .mainContent {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;

    &__left {
      width: 75%;
      background-color: #ccc;
    }
    &__right {
      background-color: #ccc;
      width: 20%;
    }
  }
}
