.homeContentContainer {
  display: grid;
  margin-bottom: 30px;
  column-gap: 1%;
  row-gap: 1%;
  grid-template-columns: 33% 41% 21%;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "title             title        gridNewsDisplay"
    "gridTopCard gridOrdinaryCards gridNewsDisplay";

  @media(max-width: 1400px) {
    grid-template-columns: 50% 50%;
    grid-template-rows: 60px 1fr 1fr;
    grid-column-gap: 15px;
    grid-template-areas:
      "title        gridNewsDisplay"
      "gridTopCard  gridNewsDisplay"
      "gridOrdinaryCards gridOrdinaryCards";

      .gridTopCard {
        margin-right: 5px;
      }

  }

  /////////// max 800

  @media(max-width: 800px) {
    grid-template-columns: minmax(300px, 1fr);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 10px;
    grid-template-areas:
      "title"
      "gridTopCard"
      "gridOrdinaryCards"
      "gridNewsDisplay";


    h2 {
      margin: 0;
      display: block;
      text-align: center;
    }

    .gridTopCard {
      justify-self: center;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 15px;

      >div>div {
        width: 100%;
        max-width: 400px;

        @media(max-width: 590px) {
          margin-left: 0;
        }
      }
    }

    .gridOrdinaryCards {
      margin: 0 auto;
    
    }

    .gridNewsDisplay {
      width: 100%;
      margin-left: 0;

      >div {
        text-align: center;
      }

      >div>div {
        justify-content: center;
      }

      img {
        height: 300px;
      }

      >div>div>div {
        max-height: 500px;
        width: 100%;
      }
    }
  }
}

/////////////// end of max 800
h2 {
  grid-area: title;
  margin-bottom: 0;
  font-size: 28px;
}

.gridTopCard {
  grid-area: gridTopCard;

  >div>div {
    height: 690px;
  }
}

.gridOrdinaryCards {
  grid-area: gridOrdinaryCards;
  min-height: 690px;

  >div {

    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-column-gap: 20px;
    row-gap: 20px;
    
        @media(max-width: 1400px) {
          gap:25px;
        }

    @media(max-width: 800px) {
      grid-template-columns: minmax(300px, 400px);
      grid-template-rows: 1fr;
      margin: 0 auto;
      gap:15px;
    }
  }

}

.gridNewsDisplay {
  grid-area: gridNewsDisplay;
  margin-top: 20px;

  @media (max-width: 1400px) {
    margin-top: 30px;

    &>div>div {
      justify-content: flex-start;
    }

    & > div > div > div {
      margin: 8px;
    }

  }

  @media (max-width: 800px) {
    &>div>div {
      justify-content: center;
    }

  }

  h2 {
    margin-left: 10px;
  }

  h3 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 18px !important;
    line-height: 1.2 !important;
  }

  >div>div>div {
    height: 335px;
    border-radius: 6px;
    margin: 10px;

    & div {
      @media(max-width: 1260px) {
        padding: 15px !important;
      }
    }

    @media (min-width: 1850px) {
      h3 {
        font-size: 20px !important;
        line-height: 1.5 !important;
      }
    }
  }

  img {
    max-height: 150px;

    @media (max-width: 1260px) {
      max-height: 175px;
    }
  }
}
