@import 'src/styles/variables';

button.root {
  background-color: $colorRed;

  &:hover {
    background-color: transparentize($colorRed, 0.08);
  }
}

button.selected {
  background-color: $colorGray !important;
  color: $colorTextWhite !important;

  &:hover {
    background-color: transparentize($colorGray, 0.08) !important;
  }
}
