@import '../../../styles/variables';
@import '../variables';

.componentItem {
  display: flex;
  align-items: center;
  padding: 16px 30px;
  background-color: $colorList;
  margin-bottom: 8px;
}

div.componentItem {
  position: relative;
  background-color: $colorList;
  margin-right: 40px;
}

.img {
  margin-right: 16px;
}

.main {
  flex-grow: 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.componentItem .btnAdd {
  position: absolute;
  top: 50%;
  right: -40px;
  border: $colorAccordion solid 10px;
  transform: translateY(-50%);
}

.rating {
  display: flex;
  justify-content: flex-start;
  margin-bottom: -15px;
}
