.topBarRoot {
  display: flex;
  justify-content: flex-end;
  padding-right: 3rem;
  padding-top: 1rem;

  @media(max-width: 77000px) {
    padding-right:3rem;
    padding-left: 3rem;
  }
  @media(max-width: 600px) {
    padding-right:1rem;
    padding-left: 1rem;
  }
}

.rightTopBar {
  align-items: center;
  display: flex;
  
  @media(max-width: 770px) {
      width: 100%;
      justify-content: space-around;

      > div:first-child {
        margin-right: auto;
      }
    
  }
}

.titleWrapper {
  margin-bottom: 0.5rem;
}

.settingIconWrapper {
  cursor: pointer;
  margin: 0 0.75rem;
}
