.cardDisplay {
    height:80vh;
    width:86vw;
    background-color: rgb(143, 139, 140);
    padding: 30px 3rem;
    display: flex;
    flex-wrap: wrap;

    // .bigCard {
    //     height: 100%;
    //     width: 40%;
    //     background-color: rgb(131, 97, 97);
    //     margin: 10px;
    //   }
    
}