@import 'styles/variables';

div.summaryWrapper {
  background-color: $colorDarkGray;
  //width: 250px;

  .noComponents {
    margin: 10px 0;
    font-style: italic;
  }

  .componentWrapper {
    margin-bottom: 15px;
  }

  .progressWrapper {
    position: relative;
    .progressTitle {
      margin-bottom: 10px;
    }

    .progressPercent {
      position: absolute;
      z-index: 10;
      top: 51px;
      color: #d6d6d6;
      font-weight: 700;
      transition: all 0.3s ease-in-out;
    }

    .progressBar {
      background: #323942;
      border-radius: 10px;
      height: 38px;

      > div {
        background: #eb3d55;
      }
    }
  }
}
