$bgColor: #25292e
$componentBgColor: #2f3438

$linkColor: #3ba1db
$linkHoveredColor: #3dadef
$linkActiveColor: #3695cb

$colorWhite: #ffffff
$colorBlack: #30363d
$colorGray: #7f8489
$colorLightGray: #9299a0
$colorDarkGray: #3c444d
$colorBlue: #4972ff
$colorRed: #eb3d55
$colorOrange: #f27a54

$colorTextWhite: #ffffff
$colorTextGray: #cbcfd4
$colorTextOrange: #f27a54
