$bgColor: #25292e;
$componentBgColor: #2f3438;

$linkColor: #3ba1db;
$linkHoveredColor: #3dadef;
$linkActiveColor: #3695cb;

$colorWhite: #fff;
$colorBlack: #30363d;
$colorGray: #7f8489;
$colorLightGray: #9299a0;
$colorDarkGray: #3c444d;
$colorBlue: #4972ff;
$colorRed: #eb3d55;
$colorOrange: #f27a54;

$colorBackgroundGray: #3c444d;

$colorTextWhite: #fff;
$colorTextGray: #cbcfd4;
$colorTextOrange: #f27a54;

// Breakpoints
$phone: 576px;
$tablet: 768px;
$largeTablet: 992px;
$desktop: 1200px;
