.container {
  max-width: 213px;
  height: 38px;
  background-color: #3c444c;
  border-radius: 20px !important;
  padding: 6px;

  @media(max-width:768px) {
    max-width: 90%;
  }

  input::placeholder {
    font-family: Inter, Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #cbcfd4;
    opacity: 0.5;
  }
}

.icon {
  transform: scaleX(-1);
}

.iconFill {
  fill: #cbcfd4 !important;
  height: 20px !important;
  opacity: 0.5;
}
