@import '../../styles/variables.scss';

.navigationBar {
  .listIcons {
    padding: 90px 20px 10px;
    height: 100%;
    width: fit-content;
    background-color: $colorBlack;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .listItem {
      margin: 10px 0;
      width: 40px;
      height: 40px;
      border: 1px solid $colorBlack;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-content: center;

      &:hover {
        border: 1px solid $colorRed;
      }

      .icon {
        display: flex;
      }
    }

    .homeLink.listItem {

      color: $colorBlue;
      border: 1px solid $colorBlue;

      &:hover {
        border: none;
      }

      &.selectedButton {
        background-color: $colorBlue;
      }

      .logo {
        width: 40px;
        height: 40px;
        border: 1px solid $colorBlue;
        color: $colorBlue;
        fill: $colorBlue;
        border-radius: 12px;
      }
    }

    .selectedButton {
      background-color: $colorRed;
      color: $colorRed;
    }

    a:last-of-type {
      margin-top: auto;
    }
  }
}

.modalStyle {

  padding:20px;
  div {
    padding: 5px 0;
  }
  div:nth-child(3) {
    padding-bottom: 0;

    button:nth-child(2) {
      background-color:transparent;
      &:hover {
      background-color: grey;
      }
    }
  }
}

