$btn-primary:#EB3D55;
$btn-secondary:#CBCFD4;
$btn-warning:rgb(230, 201, 41);
$btn-error:rgb(240, 68, 25);


.btn {
    border-radius: 20px !important;
    height: 40px;
    color:#fff;

    & > span {
        color:white;
    }

    &.btn-primary {
        background-color: $btn-primary;
        &:hover {
            background-color: darken($btn-primary, 10%)
        }
    }
    
    &.btn-secondary {
        background-color: $btn-secondary;
        &:hover {
            background-color: darken($btn-secondary, 10%)
        }
    }

    &.btn-warning {
        background-color: $btn-warning;
        &:hover {
            background-color: darken($btn-warning, 10%)
        }
    }

    &.btn-error{
        background-color: $btn-error;
        &:hover {
            background-color: darken($btn-error, 10%)
        }
    }
}
