$btn-primary:#EB3D55;
$btn-secondary:#CBCFD4;
$btn-warning:rgb(230, 201, 41);
$btn-error:rgb(240, 68, 25);


.btn {
    border-radius: 20px !important;
    height: 35px;
    color: white;
    
  
    & > span {
        color:white;
    }

    &.btnPrimary {
        background-color: $btn-primary;
        &:hover {
            background-color: darken($btn-primary, 10%)
        }
    }
    
    &.btnSecondary {
        background-color: $btn-secondary;
        &:hover {
            background-color: darken($btn-secondary, 10%)
        }
    }

    &.btnWarning {
        background-color: $btn-warning;
        &:hover {
            background-color: darken($btn-warning, 10%)
        }
    }

    &.btnError{
        background-color: $btn-error;
        &:hover {
            background-color: darken($btn-error, 10%)
        }
    }
}
